
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Чисто Блиск</title>
  
  
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
 
      <link rel="stylesheet" href="static/css/style.css">

  
</head>

<body>
  <!-- button --->
<div class="button">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>
<!-- navbar menu -->
<div class='menu'>
  <nav>
    <ul>
      <li>
        <a href='#' data-class='home_is_visible '>Головна</a>
      </li>
      <li>
        <a href='#' data-class='aboutus_is_visible'>Генеральне прибирання</a>
      </li>
      <li>
        <a href='#' data-class='clients_is_visible'>Прибирання після ремонту</a>
      </li>
      <li>
        <a href='#' data-class='windows_is_visible '>Миття вікон</a>
      </li>
      <li>
        <a href='#' data-class='contactus_is_visible '>Контакти</a>
      </li>
    </ul>
  </nav>
</div>

<!-- content -->

<div class='content home'>
  <div class="wrapper">
  <h1>"Чисто Блиск".</h1>
  <p>
  <u>Пропонуємо наступні послуги:</u><br>
  ~ Базове прибирання.<br>
  ~ Генеральне прибирання.<br>
  ~ Термінове прибирання.<br>
  ~ Прибирання після свята.<br>
  ~ Прибирання після ремонту.<br>
  ~ Прибирання квартир, будинків, офісів різної складності.<br>
  ~ Регулярне прибирання по домовленості.<br>
  ~ Додаткові послуги (мийка вікон, кухонних побутових приладів, прибирання балконів, прасування білизни та інше).
  </p>
  <p>
  <u>Наші переваги:</u><br>
  ~ Оптимальна ціна та якість.<br>   
  ~ Компетентність персоналу.<br>
  ~ Безпечні матеріали.<br>
  ~ Дбайливість до речей.<br>
  ~ Працюємо 24/7.<br>
  ~ Висока якість роботи.<br> 
  </p>
  <img src="static/img/1.jpg" width="750">
  </div>
  <font color="#ff9800">
  <p>услуги гениральная уборка</p>
  <p>выполняем мойку окон</p>
  <p>цена уборка после ремонта</p>
  <p>услуги уборка квартир</p>
  <p>выполняем уборку после праздников</p>
  <p>цена за уборку</p>
  <p>услуги стирка белья<br>
     выполняем уборку в Киеве<br>
	 цена уборка Киев<br>
  </p>
  </font>
</div>
<div class='content aboutus'>
  <div class="wrapper">
  <h1>Генеральне прибирання.</h1>
  <p>
  Найчастіше генеральне прибирання квартир робиться тоді коли треба привести приміщення в порядок,в якому тривалий час не знайшла підтримки чистота, 
  або були відсутні мешканці. Звісно таке прибирання можливо зробити і самостійно, але це призведе до значного витрату часу та фінансів. 
  Потрібно буде придбати безліч засобів, які в подальшому можуть і не знадобитися.                                   
  </p>
  <p>
  <u>Прибирання кімнат включає:</u><br>
  ~ видалення пилу з зовнішньої поверхні меблів, мультимедійної техніки, настільних і підлогових приладів освітлення;<br>   
  ~ очищення дзеркал і дзеркальних поверхонь;<br>
  ~ сухе прибирання підлоги, чищення килимів та підлогових поверхонь пилососом;<br>
  ~ вологе прибирання підлоги, видалення пилу і бруду;<br>
  ~ сухе та вологе протирання великих предметів інтер'єру;<br>
  ~ видалення пилу з настінних об'єктів: розетки, вимикачі, декоративні елементи;<br>  
  ~ протирання дверних блоків, плінтусів;<br>
  ~ сухе прибирання пилососом м'яких меблів;<br>
  ~ миття підвіконь, опалювальних труб, батарей.<br>   
  </p>
  <p>
  <u>Прибирання кухні включає:</u><br>
  ~ видалення пилу з зовнішньої поверхні меблів;<br>   
  ~ очищення і знежирення робочої поверхні плити;<br>
  ~ вологе прибирання підлоги; видалення пилу і бруду;<br>
  ~ мийка малої та великої кухонної техніки зовні(мікрохвильова піч, чайник,холодильник).<br>  
  </p>
  <p>
  <u>Прибирання санвузлів включає:</u><br>
  ~ чищення та дезінфекція ванни, джакузі, душової кабіни;<br>   
  ~ миття та дезінфекція туалету, біде, пісуару, раковини;<br>
  ~ вологе прибирання підлоги, видалення пилу та бруду;<br>
  ~ очищення зовнішньої поверхні дзеркал, шаф, пральної та сушильної машини;<br> 
  ~ видалення вапняного нальоту, водного каменю, іржі;<br>   
  ~ миття кахельної плитки;<br>
  ~ полірування і надання блиску металофурнітурі.<br>  
  </p> 
  <img src="static/img/2.jpg" width="750">
  </div>
</div>
<div class='content clients'>
  <div class="wrapper">
  <h1>Прибирання після ремонту.</h1>
  <p>
  Ви завершили будівництво, або закінчили ремонт? У будь якому випадку вам потрібно провести якісне прибирання. Звісно ця процедура дуже трудомістка, 
  адже для позбавлення будівельного пилу, виведення забруднень від фарби, потрібно витратити дуже багато часу. Якщо вам потрібен саме цей вид прибирання, 
  то наша робота у співвідношенні з ціною вас приємно здивує. Ми орієнтуємося на ваші потреби, та намагаємося виконати завдання досконало, 
  щоб ви були повністю задоволені наданню послугою. Вартість цієї послуги ви можете дізнатись у нашій фахівців після узгодження деталей замовлення. 
  Найчастіше ціна послуги залежить від площи, обсягу роботи, та інших особливостей.
  </p>   
  <p>
  <u>Прибирання після ремонту включає:</u><br>
  ~ видалення пилу з усіх видів поверхонь включаючи стіни, двері, та інші предмети;<br>   
  ~ вологе прибирання поверхонь;<br>
  ~ чищення килимового покриття пилососом;<br>
  ~ чистка дверних балконів, плінтусів, та інших важкодоступних предметів інтер'єру;<br>
  ~ чистка кахельних стін, унітазів, пісуарів, біде, та інших предметів інтер'єру;<br> 
  ~ миття вікон та інших скляних поверхонь;<br>   
  ~ прибирання санвузлів після ремонту;<br>
  ~ видалення стійкого забруднення з підлоги.<br>  
  </p> 	
  <img src="static/img/3.jpg" width="750">  
  </div>
  <font color="#ff5722">
  <p>выполняем гениральную уборка</p>
  <p>цена мойки окон</p>
  <p>услуги уборки после ремонта</p>
  <p>выполняем уборку квартир</p>
  <p>цена уборки после праздников</p>
  <p>услуги по уборке</p>
  <p>выполняем стирку белья<br>
     цена уборки Киев<br>
	 услуги по уборки в Киев<br>
  </p>
  </font>
</div>
<div class='content windows'>
  <div class="wrapper">
  <h1>Миття вікон.</h1>
  <p>
  Якщо вам потрібна якісна мийка вікон, тоді звертайтесь саме до нас. Маємо власну методику ефективного очищення скла, без завдання збитків. Завжди 
  орієнтуємося на потреби замовника, пропонуємо   максимально доступні ціни. Якщо це миття після ремонту, то фахівці застосовують спеціальні засоби і 
  пристосування, що дозволяють добре відчистити вікно і не пошкодити його. Ми допоможемо позбутися малярних помилок. Наприклад, на склі можуть залишитися 
  плями фарби або інших будівельних матеріалів, для усунення яких ми застосовуємо спеціальний скребок, а для максимального видалення плям , поверхню 
  обробляємо препаратом, що збільшує ефективність очищення. 
  </p> 
  <p>  
  <u>Миття вікон включає:</u><br>
  ~ вмиття рами і підвіконника;<br>   
  ~ чистка щілин рами парогенератором;<br>
  ~ обробка скла спеціальним розчином;<br>
  ~ мстягування розчину професійним очищувачем;<br>  
  ~ протирання скла чистою серветкою з мікрофібри.<br>
  </p>
  <img src="static/img/4.jpg" width="750">
  </div>
  <font color="#3f51b5">
  <p>цена за гениральную уборку</p>
  <p>услуги мойки окон</p>
  <p>выполняем уборку после ремонта</p>
  <p>цена уборки квартир</p>
  <p>услуги уборки после праздников</p>
  <p>выполняем уборку</p>
  <p>цена за стирку белья</p>
  <p>услуги уборки Киев</p>
  <p>выполняем уборку в Киеве</p>
  <p>выполняем мойку окон<br>
     мойку окон включает</p>
  </p>
  </font>
</div>
<div class='content contactus'>
  <div class="wrapper">
  <h1>Контакти:</h1>
  <p>
  0685747656 Київстар<br>
  0636809594 Viber
  </p>
  <img src="static/img/5.jpg" width="750">  
  </div>
  <font color="#000000">
  <p>Чаще всего генеральную уборку квартир делают тогда, когда надо привести помещение в порядок, в котором долгое время не нашла поддержки чистота,
  или отсутствовали жители. Конечно такую уборку возможно сделать и самостоятельно, но это приведет к значительному расходу времени и финансов.
  Нужно будет приобрести множество средств, которые в дальнейшем могут и не понадобиться.</p>
  <p>Вы завершили строительство или закончили ремонт? В любом случае вам нужно провести качественную уборку. Конечно эта процедура очень трудоемкая,
  ведь для избавления от строительной пыли, вывода загрязнений от краски, нужно потратить очень много времени. Если вам нужен именно этот вид уборки,
  то наша работа в соотношении с ценой вас приятно удивит. Мы ориентируемся на ваши потребности, и стараемся выполнить задание в совершенстве,
  чтобы вы были полностью удовлетворены предоставленной услугой. Стоимость этой услуги вы можете узнать у наших специалистов после согласования деталей заказа.
  Чаще всего цена услуги зависит от площади, объема работы и других особенностей.</p>
  <p>Если вам нужна качественная мойка окон, тогда обращайтесь именно к нам. Имеем собственную методику эффективной очистки стекла, без нанесения ущерба. Всегда
  ориентируемся на потребности заказчика, предлагаем максимально доступные цены. Если это мытье после ремонта, то специалисты применяют специальные средства и
  приспособления, позволяющие хорошо очистить окно и не повредить его. Мы поможем избавиться малярных ошибок. Например, на стекле могут остаться
  пятна краски или других строительных материалов, для устранения которых мы применяем специальный скребок, а для максимального удаления пятен, поверхность
  обрабатываем препаратом который увеличивает эффективность очистки.</p>
  <p>Базовая уборки. Генеральная уборка. Срочная уборка. Уборка после праздника. Уборка после ремонта. Уборка квартир, домов, офисов любой сложности.
     Регулярная уборка по договоренности. Дополнительные услуги (мойка окон, кухонных бытовых приборов, уборка балконов, глажка белья и прочее).</p>
  </font>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

    <script  src="static/js/index.js"></script>

</body>
</html>
